@{
    ViewData["Title"] = "Home Page";
}

@model string
<p>@Model</p>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>學號: 1111032076 資工四乙 田秉峰</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
